<div class="container p-1 my-4">
        <form action="/aton/add" method="POST">
                <div class="row mx-auto my-2">
                        <div class="col-md-8 mx-auto"> {{!-- ccaracteristicas --}}
                                <div class="card">
                                        <div class="card-body">
                                                <h2>CARACTERISTICAS</h2>

                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="nif" placeholder="NIF" autofocus required />
                                                </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="num_internacional"
                                                                placeholder="num_internacional" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="tipo" placeholder="tipo" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="categoria" placeholder="categoria" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="telecontrol" placeholder="telecontrol" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="apariencia" placeholder="apariencia" /> </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="periodo" placeholder="periodo" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="caracteristica" placeholder="caracteristica" />
                                                </div>
                                                <div class="form-group">
                                                        <label for="titulo">Es boya?</label>
                                                        <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                        name="esboya" id="esboya1" value="1" checked />
                                                                <label class="form-check-label" for="esboya1">Si</label>
                                                        </div>

                                                        <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                        name="esboya" id="esboya0" value="0" {{#when
                                                                        preventivo.telecontrol_gps 'eq' 'ko' }} checked
                                                                        {{/when}} />
                                                                <label class="form-check-label" for="esboya0">No</label>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-8 mx-auto my-4"> {{!-- localizacion --}}
                                <div class="card">
                                        <div class="card-body">
                                                <h2>LOCALIZACION</h2>

                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="puerto" placeholder="puerto" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="num_local" placeholder="num_local" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="localizacion" placeholder="localizacion" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="latitud" placeholder="latitud" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="longitud" placeholder="longitud" /> </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-8 mx-auto"> {{!-- lampara --}}
                                <div class="card">
                                        <div class="card-body">
                                                <h2>LAMPARA</h2>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="altura" placeholder="altura" /> </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="elevacion" placeholder="elevacion" /> </div>
                                                <div class="form-group"><input class="form-control" type="text"
                                                                name="linterna" placeholder="linterna" /> </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="divergencia" placeholder="Divergencia" /> </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="alcanceNom" placeholder="alcanceNominal" /> </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="alcanceLum" placeholder="alcance Luminoso" />
                                                </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="distanciaRec"
                                                                placeholder="distancia Reconocimiento" /> </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="candelasCalc" placeholder="candelasCalc" /> </div>
                                                <div class="form-group"><input class="form-control" type="number"
                                                                name="candelasInst" placeholder="candelasInst" /> </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="row m-auto my-4">
                        <button class="btn btn-success btn-block">Guardar</button>
                </div>
        </form>
</div>