<div class="container p-2  mb-4">
    <h1 class=" col-md-8 mx-auto text-center">CREAR NUEVO MANTENIMIENTO PREVENTIVO</h1>
    <div class="row">
        <div class="col-md-8 mx-auto p-y4">
            <div class="card py-4">
                <div class="card-body py-4">
                    <form action="/mantenimientopreventivo/add" method="POST">
                        <input class="form-control" type="hidden" name="created_by_id" placeholder="created_by_id"
                            value="{{user.id}}" />
                        <div class="form-group">
                            <label for="item">AtoN NIF</label>
                            <input class="form-control" type="text" name="nif" placeholder="nif" size="6" value="{{nif}}" />
                        </div>
                        {{>preventivo}}

                        <button class="btn btn-primary btn-block">GRABAR PREVENTIVO</button>
                    </form>
                    <form action="/mantenimientopreventivo/list" method="GET">
                        <button class="btn btn-danger btn-block">Cancelar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>