node_modules/
.env
src/public/img/imagenes/
src/public/img/preventivos/
src/public/img/profiles/
src/public/topo/
src/public/dumpFOTOS/
src/public/dumpSQL/
src/public/documentos/
src/public/debug.pdf
debug.pdf
logs