<div class="fondo">
    {{!-- <header class="masthead d-flex"> --}}
        <div class="container text-center">
            <h1 class="mb-1">ERROR en el GMAO para señales AtoN </h1>
            <h3 class="mb-5">
                <em>El servidor mostró un ERROR!</em>
            </h3>
            
        </div>
 {{!--    </header> --}}
 </div>

