
{{!-- DEPRECATED. SUSTITUIDO POR LA API DE GOOGLE MAPS --}}
<div class="container-fluid p-2 m-2 text-center">
        <h2>Mapa de Gandia</h2>
    <map name="mapa1">
        <area alt="1" shape="CIRCLE" coords="1135,265,30" href="/aton/plantilla/25530">
        <area alt="2" shape="CIRCLE" coords="947,348,30" href="/aton/plantilla/25545">
        <area alt="3" shape="CIRCLE" coords="587,242,30" href="/aton/plantilla/25552">
        <area alt="4" shape="CIRCLE" coords="486,185,30" href="/aton/plantilla/25554">
        <area alt="5" shape="CIRCLE" coords="539,139,30" href="/aton/plantilla/25555">
        <area alt="6" shape="CIRCLE" coords="440,110,30" href="/aton/plantilla/25560">
        <area alt="7" shape="CIRCLE" coords="286,276,30" href="/aton/plantilla/25563">
        <area alt="8" shape="CIRCLE" coords="87,392,30" href="/aton/plantilla/25564">
        <area alt="9" shape="CIRCLE" coords="53,433,30" href="/aton/plantilla/25565">
        <area alt="10" shape="CIRCLE" coords="419,291,30" href="/aton/plantilla/25570">
    </map>
    <img id="mapa" src="/img/PlanoGandia.jpg" alt="Mapa de imágenes. Pulsa en cada una de los círculos." border="0"
        usemap="#mapa1" class="mb-5">
</div>