{{!-- DEPRECATED. SUSTITUIDO POR LA API DE GOOGLE MAPS --}}
<div class="container-fluid p-2 m-2 text-center">
        <h2>Mapa de Sagunto</h2>
    <map name="mapa1">
        <area alt="1" shape="CIRCLE" coords="841,35,20" href="/aton/plantilla/26285">
        <area alt="2" shape="CIRCLE" coords="735,129,20" href="/aton/plantilla/26290">
        <area alt="3" shape="CIRCLE" coords="1052,280,20" href="/aton/plantilla/26311">
        <area alt="4" shape="CIRCLE" coords="851,270,20" href="/aton/plantilla/26312">
        <area alt="5" shape="CIRCLE" coords="790,253,20" href="/aton/plantilla/26313">
        <area alt="6" shape="CIRCLE" coords="680,350,20" href="/aton/plantilla/26314">
        <area alt="7" shape="CIRCLE" coords="466,412,20" href="/aton/plantilla/26320">
        <area alt="8" shape="CIRCLE" coords="523,481,20" href="/aton/plantilla/26325">
        <area alt="9" shape="CIRCLE" coords="306,583,20" href="/aton/plantilla/26360">
        <area alt="10" shape="CIRCLE" coords="378,624,20" href="/aton/plantilla/26380">
        <area alt="11" shape="CIRCLE" coords="177,646,20" href="/aton/plantilla/26390">
        <area alt="12" shape="CIRCLE" coords="149,638,20" href="/aton/plantilla/26392">
        <area alt="13" shape="CIRCLE" coords="93,86,20" href="/aton/plantilla/26450">
        <area alt="14" shape="CIRCLE" coords="1110,530,20" href="/aton/plantilla/26270">
        <area alt="15" shape="CIRCLE" coords="552,507,20" href="/aton/plantilla/26326">
        <area alt="16" shape="CIRCLE" coords="399,590,20" href="/aton/plantilla/26375">

        <area alt="17" shape="CIRCLE" coords="74,150,20" href="/aton/plantilla/26450-a">
        <area alt="18" shape="CIRCLE" coords="109,150,20" href="/aton/plantilla/26450-b">
        <area alt="19" shape="CIRCLE" coords="74,226,20" href="/aton/plantilla/26450-c">
        <area alt="20" shape="CIRCLE" coords="109,226,20" href="/aton/plantilla/26450-d">
        <area alt="21" shape="CIRCLE" coords="74,298,20" href="/aton/plantilla/26450-e">
        <area alt="22" shape="CIRCLE" coords="109,298,20" href="/aton/plantilla/26450-f">
        <area alt="23" shape="CIRCLE" coords="190,371,20" href="/aton/plantilla/26450-g">
        <area alt="24" shape="CIRCLE" coords="109,371,20" href="/aton/plantilla/26450-h">
        <area alt="25" shape="CIRCLE" coords="74,445,20" href="/aton/plantilla/26450-i">
        <area alt="26" shape="CIRCLE" coords="109,445,20" href="/aton/plantilla/26450-j">

    </map>
    <img id="mapa" src="/img/PlanoSagunto.jpg" alt="Mapa de imágenes. Pulsa en cada una de los círculos." border="0"
        usemap="#mapa1"  class="mb-5">
</div>