{{!-- DEPRECATED. SUSTITUIDO POR LA API DE GOOGLE MAPS --}}
<div class="container-fluid p-2 m-2 text-center">
    <h2>Mapa de Valencia</h2>
    <map name="mapa1">
        <area alt="1" shape="CIRCLE" coords="738,386,20" href="/aton/plantilla/25720">
        <area alt="2" shape="CIRCLE" coords="896,384,20" href="/aton/plantilla/25740">
        <area alt="3" shape="CIRCLE" coords="696,442,20" href="/aton/plantilla/25721">
        <area alt="4" shape="CIRCLE" coords="808,498,20" href="/aton/plantilla/25774">
        <area alt="5" shape="CIRCLE" coords="783,471,20" href="/aton/plantilla/25761">
        <area alt="6" shape="CIRCLE" coords="683,581,20" href="/aton/plantilla/25765">
        <area alt="7" shape="CIRCLE" coords="710,560,20" href="/aton/plantilla/25776">
        <area alt="8" shape="CIRCLE" coords="728,594,20" href="/aton/plantilla/25777">
        <area alt="9" shape="CIRCLE" coords="594,516,20" href="/aton/plantilla/25800">
        <area alt="10" shape="CIRCLE" coords="602,532,20" href="/aton/plantilla/25768">
        <area alt="11" shape="CIRCLE" coords="560,557,20" href="/aton/plantilla/25820">
        <area alt="12" shape="CIRCLE" coords="578,576,20" href="/aton/plantilla/25720.1">
        <area alt="13" shape="CIRCLE" coords="457,593,20" href="/aton/plantilla/25720">
        <area alt="14" shape="CIRCLE" coords="519,632,20" href="/aton/plantilla/25840">
        <area alt="15" shape="CIRCLE" coords="535,616,20" href="/aton/plantilla/25841">
        <area alt="16" shape="CIRCLE" coords="566,638,20" href="/aton/plantilla/25842">
        <area alt="17" shape="CIRCLE" coords="606,656,20" href="/aton/plantilla/25843">
        <area alt="18" shape="CIRCLE" coords="583,340,20" href="/aton/plantilla/25842.5">
        <area alt="19" shape="CIRCLE" coords="589,667,20" href="/aton/plantilla/25843.5">
        <area alt="19a" shape="CIRCLE" coords="567,665,20" href="/aton/plantilla/25843.8">
        <area alt="20" shape="CIRCLE" coords="664,687,20" href="/aton/plantilla/25830">
        <area alt="21" shape="CIRCLE" coords="663,661,20" href="/aton/plantilla/25831">
        <area alt="22" shape="CIRCLE" coords="420,728,20" href="/aton/plantilla/25920">
        <area alt="23" shape="CIRCLE" coords="382,700,20" href="/aton/plantilla/25940">
        <area alt="24" shape="CIRCLE" coords="291,744,20" href="/aton/plantilla/25960">
        <area alt="25" shape="CIRCLE" coords="1030,398,20" href="/aton/plantilla/25730">
        <area alt="26" shape="CIRCLE" coords="1034,641,20" href="/aton/plantilla/26020">
        <area alt="27" shape="CIRCLE" coords="998,725,20" href="/aton/plantilla/26021">
        <area alt="28" shape="CIRCLE" coords="968,746,20" href="/aton/plantilla/26025">
        <area alt="29" shape="CIRCLE" coords="913,840,20" href="/aton/plantilla/26041">
        <area alt="30" shape="CIRCLE" coords="883,855,20" href="/aton/plantilla/26035">
        <area alt="31" shape="CIRCLE" coords="944,865,20" href="/aton/plantilla/26035">
        <area alt="32" shape="CIRCLE" coords="919,885,20" href="/aton/plantilla/26046">
        <area alt="33" shape="CIRCLE" coords="506,202,20" href="/aton/plantilla/26047">
        <area alt="34" shape="CIRCLE" coords="487,317,20" href="/aton/plantilla/26048">
        <area alt="35" shape="CIRCLE" coords="347,267,20" href="/aton/plantilla/26048.1">
        <area alt="37" shape="CIRCLE" coords="173,280,20" href="/aton/plantilla/26047.2">
        <area alt="100" shape="CIRCLE" coords="310,363,20" href="/aton/plantilla/26048.3">
        <area alt="101" shape="CIRCLE" coords="329,317,20" href="/aton/plantilla/26048.2">
        <area alt="faro" shape="CIRCLE" coords="250,111,20" href="/aton/plantilla/25700">

        <area alt="38" shape="CIRCLE" coords="56,504,20" href="/aton/plantilla/26049">
        <area alt="39" shape="CIRCLE" coords="97,505,20" href="/aton/plantilla/26050">
        <area alt="40" shape="CIRCLE" coords="134,536,20" href="/aton/plantilla/26052">
        <area alt="41" shape="CIRCLE" coords="159,573,20" href="/aton/plantilla/26055">
        <area alt="42" shape="CIRCLE" coords="119,573,20" href="/aton/plantilla/26056">
        <area alt="43" shape="CIRCLE" coords="155,599,20" href="/aton/plantilla/26055.5">
        <area alt="44" shape="CIRCLE" coords="118,645,20" href="/aton/plantilla/26058">
        <area alt="45" shape="CIRCLE" coords="146,646,20" href="/aton/plantilla/26055.6">
        <area alt="46" shape="CIRCLE" coords="117,740,20" href="/aton/plantilla/26058.2">
        <area alt="47" shape="CIRCLE" coords="148,735,20" href="/aton/plantilla/26058.4">
        <area alt="48" shape="CIRCLE" coords="153,794,20" href="/aton/plantilla/26058.6">
        <area alt="49" shape="CIRCLE" coords="180,780,20" href="/aton/plantilla/26058.8">
        <area alt="50" shape="CIRCLE" coords="130,812,20" href="/aton/plantilla/26060">
        <area alt="51" shape="CIRCLE" coords="119,667,20" href="/aton/plantilla/26058.1">

        <area alt="102a" shape="CIRCLE" coords="160,678,10" href="/aton/plantilla/26048.15a">
        <area alt="102b" shape="CIRCLE" coords="160,698,10" href="/aton/plantilla/26048.15b">
        <area alt="103a" shape="CIRCLE" coords="228,678,10" href="/aton/plantilla/26048.16a">
        <area alt="103b" shape="CIRCLE" coords="228,698,10" href="/aton/plantilla/26048.16b">
        <area alt="104a" shape="CIRCLE" coords="207,678,10" href="/aton/plantilla/26048.17a">
        <area alt="104b" shape="CIRCLE" coords="181,678,10" href="/aton/plantilla/26048.17b">
        <area alt="104c" shape="CIRCLE" coords="181,698,10" href="/aton/plantilla/26048.17c">
        <area alt="104d" shape="CIRCLE" coords="207,698,10" href="/aton/plantilla/26048.17d">

        <area alt="6" shape="CIRCLE" coords="000,000,20" href="/aton/plantilla/0000">
        <area shape="CIRCLE" coords="000,000,20" href="/aton/plantilla/25720">
        <area alt="26000" shape="CIRCLE" coords="558,69,20" href="/aton/plantilla/26047">

    </map>
    <img id="mapa" src="/img/PlanoValencia.jpg" alt="Mapa de imágenes. Pulsa en cada una de los círculos." border="0"
        usemap="#mapa1"  class="mb-5">
</div>