<table border=0 width=450><tr><td align="center"> 
<map name="mapa1"> 
<area alt="1" shape="CIRCLE" coords="859,277,20" href="/balizas/plantilla/25720"> 
<area alt="2" shape="CIRCLE" coords="1032,263,20" href="/balizas/plantilla/25740"> 
<area alt="3" shape="CIRCLE" coords="805,347,20" href="/balizas/plantilla/25721"> 
<area alt="4" shape="CIRCLE" coords="950,400,20" href="/balizas/plantilla/25774"> 
<area alt="5" shape="CIRCLE" coords="908,376,20" href="/balizas/plantilla/25761"> 
<area alt="6" shape="CIRCLE" coords="744,530,20" href="/balizas/plantilla/25765"> 
<area alt="7" shape="CIRCLE" coords="805,484,20" href="/balizas/plantilla/25776"> 
<area alt="8" shape="CIRCLE" coords="828,540,20" href="/balizas/plantilla/25777"> 
<area alt="9" shape="CIRCLE" coords="613,434,20" href="/balizas/plantilla/25800"> 
<area alt="10" shape="CIRCLE" coords="687,448,20" href="/balizas/plantilla/25768"> 
<area alt="11" shape="CIRCLE" coords="654,492,20" href="/balizas/plantilla/25820"> 
<area alt="12" shape="CIRCLE" coords="651,515,20" href="/balizas/plantilla/25720.1"> 
<area alt="13" shape="CIRCLE" coords="490,518,20" href="/balizas/plantilla/25720"> 
<area alt="14" shape="CIRCLE" coords="585,575,20" href="/balizas/plantilla/25840"> 
<area alt="15" shape="CIRCLE" coords="597,542,20" href="/balizas/plantilla/25841"> 
<area alt="16" shape="CIRCLE" coords="643,580,20" href="/balizas/plantilla/25842"> 
<area alt="17" shape="CIRCLE" coords="690,598,20" href="/balizas/plantilla/25843"> 
<area alt="18" shape="CIRCLE" coords="664,580,20" href="/balizas/plantilla/25842.5"> 
<area alt="19" shape="CIRCLE" coords="664,619,20" href="/balizas/plantilla/25843.5"> 
<area alt="19a" shape="CIRCLE" coords="633,610,20" href="/balizas/plantilla/25843.8"> 
<area alt="20" shape="CIRCLE" coords="766,645,20" href="/balizas/plantilla/25830"> 
<area alt="21" shape="CIRCLE" coords="766,603,20" href="/balizas/plantilla/25831"> 
<area alt="22" shape="CIRCLE" coords="461,697,20" href="/balizas/plantilla/25920"> 
<area alt="23" shape="CIRCLE" coords="425,652,20" href="/balizas/plantilla/25940"> 
<area alt="24" shape="CIRCLE" coords="319,699,20" href="/balizas/plantilla/25960"> 
<area alt="25" shape="CIRCLE" coords="1184,303,20" href="/balizas/plantilla/25730"> 
<area alt="26" shape="CIRCLE" coords="1187,586,20" href="/balizas/plantilla/26020"> 
<area alt="27" shape="CIRCLE" coords="1154,684,20" href="/balizas/plantilla/26021"> 
<area alt="28" shape="CIRCLE" coords="1123,722,20" href="/balizas/plantilla/26025"> 
<area alt="29" shape="CIRCLE" coords="1057,817,20" href="/balizas/plantilla/26041"> 
<area alt="30" shape="CIRCLE" coords="1019,827,20" href="/balizas/plantilla/26035"> 
<area alt="31" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/26035"> 
<area alt="32" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/000"> 
<area alt="33" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/000"> 
<area alt="34" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/000"> 
<area alt="35" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/000"> 
<area alt="100" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/000"> 
<area alt="101" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/000"> 

<area alt="6" shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/25720"> 
<area shape="CIRCLE" coords="000,000,20" href="/balizas/plantilla/25720"> 
<area alt="26000" shape="CIRCLE" coords="558,69,20" href="/balizas/plantilla/26047"> 

</map> 
<img src="/img/PlanoValencia.jpg"  alt="Mapa de imágenes. Pulsa en cada una de los círculos." border="0" usemap="#mapa1"> 
<br> 
</td></tr></table>