<div class="fondo">
    {{!-- <header class="masthead d-flex"> --}}
        <div class="container text-center">
            <h1 class="mb-1">GMAO para señales AtoN </h1>
            <h3 class="mb-5">
                <em>Administra el balizamiento de la Autoridad Portuaria de Valencia</em>
            </h3>
            <a href="/aton/list" class="btn btn-primary"> Let´s get started</a>
        </div>
 {{!--    </header> --}}
 </div>
