
.calculos {
    height: 50%;
    background-color: #9fd6e0db;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 5px solid rgb(21, 89, 167);
    border-radius: 10px;
  }
  
  .calculos h1 {
    text-align: center;
    background: rgb(47, 115, 192);
    border-radius: 10px;
    border: 2px solid rgb(9, 55, 107);
  }
  .calculos div {
    text-align: center;
    margin: 5px;
    padding: 3px;
    border: 2px solid rgb(5, 23, 43);
  }
  
  .calculos .uno {
    border-radius: 10px;
    background-color: rgb(150, 230, 150);
  }
  
  .calculos .dos {
    border-radius: 10px;
    background-color: rgb(220, 221, 166);
  }
  
  .calculos .tres {
    border-radius: 10px;
    background-color: rgb(240, 167, 179);
  }
  
   .resultado {
    border-radius: 5px;
    border: 1px solid rgb(5, 23, 43);
    font-size: 150%;
    background: rgb(221, 92, 92);
    padding: 0.1em;
  }