.resultado {
    border-radius: 5px;
    border: 1px solid rgb(5, 23, 43);
    font-size: 150%;
    background: rgb(221, 92, 92);
    padding: 0.1em;
}


.wrapper {
    box-sizing: border-box;
    color: white;
    /*   background: linear-gradient(
      290deg,
      rgb(157, 156, 240) 0%,
      rgb(197, 241, 243) 100%
    )
    fixed; */
    background-size: cover;
    height: auto;
    font-weight: 300;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* overflow-x: scroll; */
    /* background-color: transparent; */
    position: relative;
    width: 100%;
    height: 100%;

}

#submit1:checked+.flipper {
    transform: rotateY(180deg);
}

.containertabs {
    margin-top: 5px;
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    /* box-shadow: -0.5em 1em 2em rgba(0, 0, 0, 0.5); */
    border-radius: 25px;
    /* border: 5px solid rgba(31, 31, 34, 0.678); */
}

.containertabs>input,
.wrapper>input {
    position: absolute;
    top: 0;
    left: -9999px;
}

.tab {
    position: absolute;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    height: 5vmin;
    width: 100%;
    backface-visibility: hidden;
}

.tab>label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid black;
    cursor: pointer;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.349);
}

.tab>label:first-child {
    border-radius: 20px 0px 0px 5px;
}

.tab>label:last-child {
    border-radius: 0px 20px 5px 0px;
}

.content {
    /*   background: linear-gradient(
    45deg,
    rgba(97, 161, 239, 1) 0%,
    rgba(135, 92, 207, 1) 29%,
    rgba(188, 53, 169, 1) 65%,
    rgba(251, 8, 129, 1) 100%
  ); */
    width: 100%;
    backface-visibility: hidden;
    padding: 8vmin 0 2vmin 0;
    align-items: center;
    flex-direction: column;
}

#contentOne,
#contentTwo,
#contentThree,
#contentFour {
    display: none;
}

/* form {
    margin: 0 auto;
    background: linear-gradient(45deg,
            rgb(187, 157, 217, 0.3) 5%,
            rgb(244, 189, 232, 0.3) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 2em;
    box-sizing: border-box;
    border-radius: 0.5em;
} */

button {
    cursor: pointer;
    margin: 1.5em 0 0.5em 0;
    padding: 2px;
    background: rgba(0, 0, 0, 0.25);
    font-size: 1em;
    border: 1px solid white;
    padding: 5px;
    transition: all 0.5s;
    color: white;
    position: relative;
}

button:hover {
    background: white;
    color: black;
    box-shadow: 0.1em 0.1em 0 0 black;
}

#tab1:checked~#contentOne,
#tab2:checked~#contentTwo,
#tab3:checked~#contentThree,
#tab4:checked~#contentFour {
    display: flex;
    height: 100%;
    border: none;
}

#tab1:checked~.tab>.t1,
#tab2:checked~.tab>.t2,
#tab3:checked~.tab>.t3,
#tab4:checked~.tab>.t4 {
    font-weight: bold ;
    background-color: rgba(26, 31, 31, 0.856);
}

@media (max-width: 55em) {

    .wrapper {
        margin: 6em 0.5em 0.5em 0.5em;
    }

    .tab>label {
        letter-spacing: 0;
    }
}