#myMap {
  border-radius: 15px;
}
/* #puerto{
  visibility:visible; 
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.apagada{
  opacity: 0.25;
  filter: grayscale(100%);
}

.bind-tooltip *{
  padding: 0px;
  margin: 0px;
}