#myMap {
  border-radius: 15px;
}

/* #puerto{
  visibility:visible; 
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.AtoN, .infoAtoN {
  opacity: 1; /* Elementos visibles por defecto */
  transition: opacity 0.5s ease;
}

.desactivada,.info-desactivada {
  opacity: 0;
  filter: grayscale(100%);
  
}

.activada,.info-activada {
  opacity: 1;
  filter: grayscale(0%);
  
}

.bind-tooltip p {
  padding: 0px;
  margin: 0px;
}

.custom-div-icon {
  background: transparent;
  border: none;
}

.marker-html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulito{
  width: 40px;
  height: 40px;
  border: 2px solid #dd6a769d;
  border-radius: 50%;
  background-color: #5d66ec'
}
