/* ============================
   CONFIGURACIÓN A4
============================ */
@page {
    size: A4;
    margin: 10mm 15mm 20mm 15mm;
}

body {
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #222;
}

h1 {
    font-size: 20px;
    margin: 0;
}

h2 {
    font-size: 14px;
    margin: 0;
}

hr {
    border: none;
    border-top: 2px solid #003366;
    margin: 10px 0 20px 0;
}

/* ============================
   CABECERA
============================ */

.header {
    background-color: rgb(219, 217, 215);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1em 1em;
    border-radius: 4px;
    border: 1px solid #003366;
}

.company {
    font-size: 12px;
    text-align: right;
}

.title {
    color: #003366;
}

/* ============================
   SECCIONES
============================ */

.section {
    margin-bottom: 5px;
    page-break-inside: avoid;
}

.section-title {
    background: #003366;
    color: white;
    padding: 3px 4px;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 2px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background: #f0f3f7;
    font-weight: bold;
    text-align: left;
    border: 1px solid #ccc;
    padding: 3px;
}

.table td {
    border: 1px solid #ccc;
    padding: 3px;
}

/* ============================
   ESTADOS
============================ */

.estado-ok {
    color: #0a7a0a;
    font-weight: bold;
}

.estado-ko {
    color: #b30000;
    font-weight: bold;
}

.estado-na {
    color: #777;
}

/* ============================
   OBSERVACIONES
============================ */

.observaciones {
    border: 1px solid #ccc;
    padding: 0px 4px;
    margin-top: 5px;
    min-height: 10px;
    white-space: pre-wrap;
}

/* ============================
   IMÁGENES
============================ */

.image {
    margin-top: 3px;
    text-align: center;
}

.image img {
    max-width: 100%;
    max-height: 250px;
}

/* ============================
   PIE DE PÁGINA
============================ */

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 10px;
    color: #777;
}

.page-break {
    page-break-before: always;
}

@media print {

    .photos-page {
        page-break-inside: avoid;
        /* no se parte */
        break-inside: avoid;
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* 2 columnas */
        grid-template-rows: auto;
        gap: 3px;
        height: 89vh;
        /* límite alto hoja */
    }

    .photos-page .image {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .photos-page img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 2px;
    }
}