<a href="/profile" class="text-decoration-none">
    {{#if user.pictureURL}}
    <img src="/img/profiles/{{user.pictureURL}}" class="avatar avatar-s m-2" alt="'avatar {{user.pictureURL}}'" />
    {{else}}
    <img src="/img/profiles/default.jpg" class="avatar avatar-s m-2" alt="default avatar" />
    {{/if}}
</a>