<nav
    class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark footer d-flex justify-content-between align-items-center mb-0 mt-5 py-0 px-2">
    <div class="w-100">
        <span>Autoridad Portuaria de Valencia 2023</span>
        <a rel="license"  class="d-none d-sm-inline" target="_blank" href="http://creativecommons.org/licenses/by/4.0/">
            <img  alt="Creative Commons License" src="/img/ccby.png" />
        </a><span  class="d-none d-sm-inline">Autor: </span> <a  class="d-none d-sm-inline" target="_blank" href="https://adriandeharo.es">Adrian de Haro </a>
        <span class="copyleft"> &copy; </span>
        <span class="d-none d-lg-inline"> bajo licencia</span> <a  class="d-none d-md-inline" rel="license" target="_blank"
                href="http://creativecommons.org/licenses/by/4.0/">Creative Commons.</a>

<span class="float-right mb-0 ">
        <span class="d-none d-xl-inline"> Actualizado: </span><span class="d-none d-md-inline"> 09/06/2023</span></span>
    </div>
</nav>