<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark footer d-flex justify-content-between align-items-center my-0 py-1 px-3">
    <div>
        <p class="mb-0">Autoridad Portuaria de Valencia. 2023 ·
            <span> <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/"><img
                        alt="Creative Commons License" src="/img/ccby.png" /></a>Autor: <a target="_blank"
                    href="https://adriandeharo.es">Adrian de Haro </a> <span class="copyleft"> &copy; </span> bajo
                licencia <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/">Creative
                    Commons</a>. </span>
        </p>
    </div>
    <div>
        <p class="float-right mb-0"> Actualizado: 20/05/2023</p>
    </div>
</nav>