<footer class="navbar fixed-bottom navbar-dark bg-dark footer py-2 px-3">
  <div class="container-fluid d-flex flex-column flex-md-row justify-content-between align-items-center small text-white">
    
    <!-- Bloque izquierdo -->
    <div class="d-flex flex-wrap align-items-center gap-2">
      <a href="https://www.valenciaport.com/"
         target="_blank"
         rel="license"
         class="text-white text-decoration-none"><span>Autoridad Portuaria de Valencia © 2022</span></a>

      <span class="d-none d-md-inline">|</span>

      <span class="d-none d-sm-inline">
        Autor:
        <a href="https://guardiandelfaro.es" target="_blank" class="text-white text-decoration-none">
          Adrian de Haro
        </a>
      </span>

      <span class="d-none d-lg-inline">
        | Bajo licencia
        <a href="https://creativecommons.org/licenses/by/4.0/"
           target="_blank"
           rel="license"
           class="text-white text-decoration-none">
          Creative Commons BY 4.0
        </a>
      </span>

      <a href="https://creativecommons.org/licenses/by/4.0/"
         target="_blank"
         rel="license"
         class="d-none d-sm-inline">
        <img src="/img/ccby.png" alt="Licencia Creative Commons BY 4.0" height="18">
      </a>
    </div>

    <!-- Bloque derecho -->
    <div class="mt-1 mt-md-0">
      <span class="d-none d-md-inline">Actualizado:</span>
      <span>26/02/2026</span>
    </div>

  </div>
</footer>