<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark footer">
    <div>
        <p>Autoridad Portuaria de Valencia.  2018 · 
        <span> <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" src="/img/ccby.png" /></a>Autor: <a target="_blank" href="https://adriandeharo.es">Adrian de Haro </a> <span class="copyleft"> &copy; </span> bajo licencia <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons</a>. </span>
        </p>
    </div>
    <div class="actualizacion"> Actualizado: 23/03/2023</div>
</nav>