<div id="modalAdmin" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cierraModal();">&times;</span>
    <div class="centrado">
      <h4>INTRODUZCA LA CONTRASEÑA MAESTRA</h4>
      <p>Se le va a conceder permisos de administrador al usuario {{user.usuario}}. si esta seguro introduza la
        contraseña maestra. </p>
      <form action="/doAdmin" method="post">
        <input type="password" placeholder="contraseña" id="contrasenaConfirmacion" name="pass"/>
        <div class="card-body">
          <button type="submit" class="btn btn-primary btn-sm">
            GRANT</button>
      </form>
      <a onclick="cierraModal();" class="btn btn-danger btn-sm">
        Cancelar</a>
    </div>
  </div>
</div>
</div>