<div id="myModalBorradoMant" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close text-right" onclick="cierraModal();">&times;</span>
      <div class="text-center">
        <h4>Está a punto de borrar el mantenimiento</h4>
      </div>
    </div>
    <div class="modal-body">
      <p>Esta Ud. seguro??? </p>
      <p>
        Esto conlleva la eliminación del mantenimiento del AtoN con NIF: {{baliza.nif}} de la BBDD, y ya no habrá marcha
        atras.</p>
    </div>
    <div class="modal-footer">
      <a id="refmantdel" href="/aton/mantenimiento/delete/" class="btn btn-danger">Borrar</a>
      <a onclick="cierraModal();" class="btn btn-warning">Cancelar</a>
    </div>
  </div>
</div>
</div>