<div id="myModalBorradoFoto" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close text-right" onclick="cierraModal();">&times;</span>
      <div class="text-center">
        <h4>Está a punto de borrar la imagen</h4>
      </div>
    </div>
    <div class="modal-body">
      <p>Esta Ud. seguro??? </p>
      <p>
        Esto conlleva la eliminación de la imagen <span id="fotoidmodal"></span> del AtoN con NIF: {{nif}} y ya no habrá marcha
        atras.</p>
    </div>
    <div class="modal-footer">
       <a id="reffotodel" href="" class="btn btn-danger">Borrar</a>
      <a onclick="cierraModal();" class="btn btn-warning">Cancelar</a>
    </div>
  </div>
</div>