<div id="modalAdmin" class="modal">
  <div class="modal-content">
    <span class="close" onclick="cierraModal();">&times;</span>
    <div class="centrado">
      <h4>INTRODUZCA LA CONTRASEÑA MAESTRA</h4>
      <p>Se le va a conceder permisos al usuario {{user.usuario}}. si esta seguro introduza la
        contraseña maestra. </p>
      <form action="/doAdmin" method="post">
        <input type="password" placeholder="contraseña" id="contrasenaConfirmacion" name="pass" />
        <div class="card-body">
          <button type="submit" class="btn btn-primary btn-sm">
            GRANT</button>
      </form>
      <a onclick="cierraModal();" class="btn btn-danger btn-sm">
        Cancelar</a>
    </div>
  </div>
</div>
<script>
  function cierraModal() {
    //modal1.style.display = "none";
    //modal2.style.display = "none";
    modalAdmin.style.display = "none";
    passcheck = "";
  }
  function cambiarUsuario() {
    var passcheck = document.getElementById("contrasenaConfirmacion").value;
    //TODO: verificar el pass con la base de datos
  }

</script>