<div id="myModalBorradoPreventivo" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close text-right" onclick="cierraModal();">&times;</span>
      <div class="text-center">
        <h4>Está a punto de borrar el preventivo</h4>
      </div>
    </div>
    <div class="modal-body">
      <p>Esta Ud. seguro??? </p>
      <p>
        Esto conlleva la eliminación del preventivo <span id="preventivoidmodal">{{preventivo.preventivo_id}}</span> del AtoN con NIF: <span id="preventivonifmodal">{{preventivo.nif}}</span>  de la BBDD, y ya no habrá marcha
        atras.</p>
    </div>
    <div class="modal-footer">
      <a id="refprevdel" href="/mantenimientopreventivo/delete/{{preventivo.preventivo_id}}" class="btn btn-danger">Borrar</a>
      <a onclick="cierraModal();" class="btn btn-warning">Cancelar</a>
    </div>
  </div>
</div>