<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between px-1 m-0">
    <div class="d-flex flex-column p-0 m-0">
        <a href="http://www.valenciaport.com" target="_blank"> <img src="/img/logo-APV.svg" alt="APV logo"></a>
        <div>
            {{>avatar}}
            <a class="navbar-brand" href="/aton/list">BBDD SAN</a>
        </div>

    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                APV
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/aton/list">Listado global</a>
                <a class="dropdown-item" href="/aton/list/Valen">Listado Valencia</a>
                <a class="dropdown-item" href="/aton/list/Sag">Listado Sagunto</a>
                <a class="dropdown-item" href="/aton/list/Gand">Listado Gandia</a>
                <a class="dropdown-item" href="/aton/list/Ext">Listado Externas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/aton/mapaGeneral/1">Mapa Valencia</a>
                <a class="dropdown-item" href="/aton/mapaGeneral/2">Mapa Sagunto</a>
                <a class="dropdown-item" href="/aton/mapaGeneral/3">Mapa Gandia</a>
                    <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/aton/mapa">Mapa</a>
                <a class="dropdown-item" href="/api/balizas">API</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Externo
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/aton/list/Canet">CN Canet</a>
                <a class="dropdown-item" href="/aton/list/Sapla">CN Port Saplaya</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/aton/list/Marina">Marina JCI</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/aton/list/Perello">CN Perello</a>
                <a class="dropdown-item" href="/aton/list/Cullera">Puerto Cullera</a>
                <a class="dropdown-item" href="/aton/list/Oliva">CN Oliva</a>
            </div>
        </li>

        {{#if user}}

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Panel Adm
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/balizas/add ">Crear nuevo AtoN</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/documentos">Documentos e Informes</a>
                <a class="dropdown-item" href="/backups">Backups BBDD</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logs">Ver logs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/profile">Perfil</a>
                <a class="dropdown-item" href="/logout">Logout</a>
            </div>
        </li>

        {{/if}}


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Otros links
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/plan">Plan Inspeccion</a>
                <a class="dropdown-item" href="/calculos">Calculos</a>
                <a class="dropdown-item" href="/inventario">Inventario</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="/prueba">Prueba</a>
            </div>
        </li>



        {{#if user}}
        <li class="nav-item">
            <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
        </li>
        {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/signin" tabindex="-1" aria-disabled="true">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signup" tabindex="-1" aria-disabled="true">Sign up</a>
        </li>
        {{/if}}
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="history.back();" tabindex="-1"
                aria-disabled="true">Volver</a>
        </li>
    </ul>
</nav>