<nav class="navbar navbar-expand-md navbar-dark bg-dark justify-content-between px-4">
    <div class="container-fluid">
        <div class="d-flex flex-column p-0 m-0">
            <div>
                <a class="navbar-brand d-none d-sm-inline" href="/mapaGeneral/{{user.default_localizacion}}">BBDD SAN</a>
                {{#if user}}
                {{>avatar}}
                {{/if}}
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        AtoNs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aton/list">Listado completo</a>
                        <a class="dropdown-item" href="/aton/listfondeos">Listado fondeos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/aton/list/Valen">Listado Valencia</a>
                        <a class="dropdown-item" href="/aton/list/Sag">Listado Sagunto</a>
                        <a class="dropdown-item" href="/aton/list/Gand">Listado Gandia</a>
                        <a class="dropdown-item" href="/aton/list/Ext">Listado Externas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/mapaGeneral/valencia">Plano Valencia</a>
                        <a class="dropdown-item" href="/mapaGeneral/sagunto">Plano Sagunto</a>
                        <a class="dropdown-item" href="/mapaGeneral/gandia">Plano Gandia</a>
                    </ul>
                </li>

                <li class="nav-item dropdown  d-none d-xl-inline">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Externo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" href="/aton/list/Canet">CN Canet</a>
                        <a class="dropdown-item" href="/aton/list/Sapla">CN Port Saplaya</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/aton/list/Marina">Marina JCI</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/aton/list/Perello">CN Perello</a>
                        <a class="dropdown-item" href="/aton/list/Cullera">Puerto Cullera</a>
                        <a class="dropdown-item" href="/aton/list/Oliva">CN Oliva</a>
                    </ul>
                </li>

                {{#if user}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gestion
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aton/add ">Crear nuevo AtoN</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/tickets/list">Ver Tickets</a>
                        <a class="dropdown-item" href="/tickets/add"> Crear ticket</a>
                         <a class="dropdown-item" href="/aton/pintadas/list">Ver Pintadas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/mantenimientopreventivo/list">Ver Preventivos</a>
                        <a class="dropdown-item" href="/mantenimientopreventivo/add">Crear Preventivo</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/documentos">Documentos e Informes</a>
                        <a class="dropdown-item" href="/documentoUpload">Subir nuevo Documentos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/dbbackups/list">Backups BBDD</a>
                        <a class="dropdown-item" href="/backupsfotos">Backup fotos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/inventario">Inventario</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logs">Ver logs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/changelayout">Change layout google/leaflet</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profile">Perfil</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </ul>
                </li>
                {{/if}}

                {{#when user.privilegio 'eq' 'admin'}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Panel Adm {{user.privilegio}}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/aton/transform">Conversión coordenadas</a>
                        <a class="dropdown-item" href="/runSQLfile/crearTablas">Crear Tablas nuevas</a>
                        <a class="dropdown-item" href="/runSQLfile/addNewMods">add New Mods</a>
                    </ul>
                </li>
                {{/when}}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Otros links
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/plan">Plan Inspeccion</a>
                        <a class="dropdown-item" href="/calculos">Calculos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" target="_blank" href="https://portalaton.puertos.es/">Portal AtoN</a>
                        <a class="dropdown-item" target="_blank" href="https://portalapv.valenciaport.com/">Portal APV</a>
                    </ul>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="history.back();" tabindex="-1"
                        aria-disabled="true">Volver</a>
                </li>

                {{#if user}}

                <li class="nav-item dropdown d-none d-xl-inline">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-haspopup="true" data-bs-display="static" aria-expanded="false">
                        API
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/api/balizas">API todo aton</a>
                        <a class="dropdown-item" href="/api/usuarios">API usuarios</a>
                        <a class="dropdown-item" href="/api/aton/boyas">API solo boyas</a>
                        <a class="dropdown-item" href="/api/aton/balizas">API solo balizas</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/api/baliza/25720">API baliza</a>
                        <a class="dropdown-item" href="/api/mantenimiento/25720">API mantenimiento</a>
                        <a class="dropdown-item" href="/api/observaciones/25720">API observaciones</a>
                        {{!-- <div class="form-group">
                            <label for="nif">NIF</label>
                            <input type="email" class="form-control" id="nif" placeholder="25720">
                        </div> --}}
                    </ul>
                </li>

                {{/if}}
            </ul>
        </div>
        <div class="">
            <ul class="navbar-nav ml-auto mx-4">
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout" tabindex="-1" aria-disabled="true">Logout</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/signin" tabindex="-1" aria-disabled="true">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup" tabindex="-1" aria-disabled="true">Sign up</a>
                </li>
                {{/if}}
            </ul>
        </div>
        <div class="d-none d-sm-block">
            <a href="http://www.valenciaport.com" target="_blank"> <img class="SVG-white-logo" src="/img/logo-APV.svg"
                    alt="APV logo"></a>
        </div>
    </div>
</nav>