<!DOCTYPE html>
<html lang="en">

<head>
    {{>styles}}
    <link rel="stylesheet" href="/css/stylesSimple.css">
    <title>PLAN DE INSPECCION</title>

</head>

<body>
    {{>navbar}}
    {{>mensaje}}
    {{>modal}}
    {{{body}}}
    {{>footer}}
    <script src="/js/mainscript.js"></script>
    <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    {{>jQueryBootstrap}}
</body>

</html>