<!DOCTYPE html>
<html lang="en">

<head>
    {{>styles}}
    <title>BBDD SAN APP</title>
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" />

</head>

<body>
    {{>navbar}}
    {{>mensaje}}
    {{{body}}}
    {{>footer}}
    {{>ModalBorradoAton}}
    {{>ModalPintadoAton}}
    {{>ModalBorradoObs}}
    {{>ModalBorradoMant}}
    <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    {{>jQueryBootstrap}}
    <script src="/js/slick.min.js"></script>
    <script src="/js/funciones.js"></script>
    <script src="/js/parpadeo.js"></script>
    <script src="/js/carrusel.js"></script>
</body>

</html>