<!DOCTYPE html>
<html lang="en">

<head>
  {{>styles}}
  <title>CALCULOS ALCANCE </title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="/css/calculosStyle.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>

<body>
  {{>navbar}}
  {{>mensaje}}
  {{{body}}}
  {{>footer}}
  <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  {{>jQueryBootstrap}}
</body>

</html>