<!DOCTYPE html>
<html lang="en">

<head>
 {{!--  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> --}}
  {{>styles}}
  <link rel="stylesheet" href="/css/mapa.css">
  <title>BBDD SAN APP</title>
</head>

<body>

  {{>navbar}}
  {{{body}}}
  {{>footer}}

  <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
  {{>jQueryBootstrap}}
</body>

</html>