<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script> --}}
  {{>styles}}
  <link rel="stylesheet" href="/css/mapa.css">
  <title>BBDD SAN APP</title>
  <script src="/leaflet/leaflet.js"></script>
  <link rel="stylesheet" href="/leaflet/leaflet.css" />
  {{!-- PARA USAR ARCHIVOS MBTILES --}}
{{!--   <script src="https://unpkg.com/sql.js@0.3.2/js/sql.js"></script>
  <script src="/js/Leaflet.TileLayer.MBTiles.js"></script> --}}
   {{!-- FIN PARA USAR ARCHIVOS MBTILES --}}
</head>

<body>

  {{>navbar}}
  {{{body}}}
  {{>footer}}
  {{>jQueryBootstrap}}
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiYpGR9wGhPxqTX8FNKyJmYOec6UPYxCw&callback=initMap&v=weekly&libraries=marker"
    defer></script>
  <script src="/js/funciones.js" type="text/javascript"></script>
  <script src="/js/leafletmap.js" type="text/javascript"></script>



</body>

</html>