<!DOCTYPE html>
<html lang="en">

<head>
    {{>styles}}
    <link rel="stylesheet" href="/css/stylesSimple.css">
    <title>PLAN DE INSPECCION</title>
      <link rel="shortcut icon" href="/img/icon-menu-autoridad.svg">
</head>

<body>
    {{>navbar}}
    {{>mensaje}}
    {{>modal}}
    {{{body}}}
    {{>footer}}
    <script src="/js/mainscript.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    {{>jQueryBootstrap}}
</body>

</html>