<!DOCTYPE html>
<html lang="en">

<head>
    {{>styles}}
    <title>BBDD SAN APP</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
</head>

<body>
    {{>navbar}}
    {{>mensaje}}
    {{>modal}}
    {{{body}}}
    {{>footer}}
    <script src="/js/mainscript.js"></script>
    <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    {{>jQueryBootstrap}}
    <script src="/js/list.js"></script>
</body>

</html>