<!DOCTYPE html>
<html lang="en">

<head>
    {{>styles}}
    <title>BBDD SAN APP</title>
</head>

<body>
    {{>navbar}}
    {{>mensaje}}
    {{>modal}}
    {{{body}}}
    {{>footer}}
    <script src="/js/mainscript.js"></script>
    <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    {{>jQueryBootstrap}}
    <script src="/js/list.js"></script>
</body>

</html>