<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  {{>styles}}
  <link rel="stylesheet" href="/css/mapa.css">
  <title>BBDD SAN APP</title>
  <script src="/leaflet/leaflet.js"></script>
  <link rel="stylesheet" href="/leaflet/leaflet.css" />
</head>

<body>

  {{>navbar}}
  {{{body}}}
  {{>footer}}
  {{>jQueryBootstrap}}
  <script src="/js/funciones.js" type="text/javascript"></script>
  <script src="/js/leafletmap.js" type="text/javascript"></script>



</body>

</html>