<!DOCTYPE html>
<html lang="en">

<head>
    {{>styles}}
    <title>BBDD SAN APP</title>
</head>

<body>
    {{>navbar}}
    {{>mensaje}}
    {{{body}}}
    {{>footer}}
    <script src="/js/jquery.slim.min.js" crossorigin="anonymous"></script>
    {{>jQueryBootstrap}}
    <script src="/js/funciones.js"></script>
    <script src="/js/filtrado.js"></script>
     <script src="/js/validaciones.js"></script>
</body>

</html>